.abc-selection-container {
  min-width: 300px;
  padding: 16px 0;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-content {
  padding: 0 24px;
}

mat-dialog-actions {
  padding: 8px 24px 24px;
}