<div class="container-fluid text-container message-area">
    <div class="row">
        <div class="col-12">
            <div class="title">Notes:</div>
            <textarea id="notes-textarea" *ngIf="!print" [(ngModel)]="newNote"></textarea>
            <div *ngIf="errorSaving" class="amplify-text--error">
                An error occurred while saving the note <a id="notes-retry-save" class="link-item" (click)="save()">click here to try again</a>.
            </div>
            <div class="col-12" *ngIf="!print">
                <button id="notes-end-note" class="btn btn-primary" (click)="endNote()">
                    <mat-icon *ngIf="!saving">arrow_downward</mat-icon>
                    <mat-spinner *ngIf="saving"></mat-spinner>
                    &nbsp;End Note
                </button>
                <button id="notes-refresh" class="btn btn-primary" (click)="notes = null; load()"><i class="fa fa-refresh" [class.fa-spin]="notes == null" aria-hidden="true"></i> Refresh</button>
            </div>
            <div *ngIf="showPrevNotes">
                <div *ngFor="let note of notes">
                    <app-note [note]="note" [student]="student" (onDelete)="deleteNote(note)"></app-note>
                </div>
            </div>
        </div>
    </div>
</div>
