.tracking-area {
    word-break: break-all;
}
.tracking-behavior {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 0px 7px 0px 7px;
    margin: 2px;
}

.tracking-selected {
    background-color: var(--linkItemColor);
    color: var(--dropdownTextColor) !important;
}

.tracking-hour {
    text-align: center;
}

.input-group-append>.btn {
    margin: 0px;
}

.legend-print {
    margin: 10px;
}

@media print{
    @page {size: portrait;}
}

.new-page {
    page-break-before: always;
}