<app-loading [title]="loadingText" *ngIf="loading"></app-loading>
<div class="behaviors-container" *ngIf="restrictions && devices && !loading">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Devices</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <div class="grid-container">
                <!-- Left side list -->
                <div class="left-panel">
                    <!-- Active Behaviors -->
                    <mat-nav-list>
                        <mat-list-item *ngFor="let item of devices.items; index as i"
                            [class.selected]="item === selected"
                            [id]="'student-setting-devices-' + i"
                            (click)="setSelected(item)">
                            <div class="list-item-content">
                                <span>{{item.deviceName ?? item.dsn}}</span>
                            </div>
                        </mat-list-item>

                        <mat-list-item *ngIf="administrator"
                            [class.selected]="selected && !selected.isApp && selected.isNew"
                            id="'student-setting-devices-track-new'"
                            (click)="create()">
                            <div class="list-item-content">
                                <mat-icon>add</mat-icon> Register Track 2.0
                            </div>
                        </mat-list-item>

                        <mat-list-item *ngIf="administrator"
                            id="student-setting-devices-app-new"
                            [class.selected]="selected && selected.isApp && selected.isNew"
                            (click)="createApp()">
                            <div class="list-item-content">
                                <mat-icon>add</mat-icon> Register Mobile App
                            </div>
                        </mat-list-item>
                    </mat-nav-list>
                </div>

                <!-- Right side details -->
                <div class="right-panel">
                    <div *ngIf="selected && !selected.isApp && !qrCode">
                        <app-track-registration [selected]="selected" [administrator]="administrator" [activeBehaviors]="activeBehaviors"></app-track-registration>
                    </div>
                    <div *ngIf="selected && selected.isApp">
                        <device-app *ngIf="!templatesOnly" [hideName]="false" [student]="student" [selected]="selected" [administrator]="administrator" [abcEnabled]="abcEnabled" [groupsEnabled]="false" (onSelectedChanged)="setSelection($event)" [readOnly]="readonly"></device-app>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
