.float-openClose {
    float: left;
    position: fixed;
    transform: rotate(90deg);
    margin-top: 200px;
    margin-left: -60px;
    size: 8pt;
    border: solid 2px var(--border);
    border-radius: 10px 10px 0px 0px;
    padding: 2px 10px;
    z-index:90;
    background: var(--backgroundColor);
    opacity: 0.2;
}

.float-openClose:hover {
    opacity: 1;
}


@media print {
    .dashboard-container {
        width: 100vw !important;
        /* height: 100%; */
    }
}

.dashboard-container-mobile > div {
    height: auto;
    padding: 0px;
}

.dashboard-container-desktop > div {
    height: 94vh;
    padding: 0px;
    overflow: hidden;
    overflow-y: auto;
}

.scrollable {
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: auto;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    -webkit-scrollbar: visible;
}

.container-inner {
    padding-bottom: 0px;
}
.route-container {
    height: 94vh;
}

.dropdown {
    display: inline-block;
}

.dropdown-menu {
    background: var(--headerBackgroundColor);
    min-width: 0px;
    white-space: nowrap;
}

.dropdown-item {
    color: var(--darkText) !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: var(--headerBackgroundColor) !important;
    border-color: var(--headerTextColor);
}

.input-group-append button {
    margin-top: 0px;
    margin-left: 0px;
    z-index: 0;
}
.hidden {
    display:none;
}

.scrollable::-webkit-scrollbar {
   -webkit-appearance: scrollbarthumb-vertical;
}
.scrollable::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.dashboard-container {
    white-space: nowrap;
}

.studentArea {
    border-right: solid #000 1px;
}

.studentArea-desktop {
    width: 20vw;
}

.container-fluid-mobile {
    width: 98%;
}

@media print {
    #student-container {
        width: 0px !important;
    }
    #route-container {
        width: 100% !important;
        overflow-y: hidden;
        flex: 0 0 100%;
        max-width: 100% !important;
    }
    .col-9 {
    }

    .dashboard-container-desktop > div {
        width: 100vw;
        height: auto;
        padding: 0px;
    }
}
